.post_profile_img {
    height: 45px;
    width: 45px;
    border-radius: 50%;
    border: 4px solid #1877F2;
}

.post_card {
    border-top: 1px solid rgba(128, 128, 128, 0.876);
    border-bottom: 1px solid rgba(128, 128, 128, 0.841);
}

.profile_posts_bg {
    background: #393c40e6;
    border-radius: 7px;
}

.posts_btn {
    border: 0;
    background: none;
    color: rgba(255, 255, 255, 0.741);
    font-weight: bold;
}