.text_color {
    font-size: 2.4rem;
    font-weight: bolder;
    color: #1877f2;
}

.navbar_bg {
    background: #393c40e6;
    height: 65px;
    z-index: 2;
}

.bg_color {
    background-color: #1c1e21e3;
}

.icon_image_size {
    border-radius: 50%;
}

.navbar_input {
    height: 40px;
    width: 300px;
    background-color: #555b61;
    border-radius: 21px;
    align-items: center;
}



.search_input {
    background-color: #555b61;
}

.search_input::-webkit-input-placeholder {
    color: rgba(255, 255, 255, 0.674);

}

.search_icon {
    color: rgba(255, 255, 255, 0.674);
}

.nav_icon {
    color: rgba(255, 255, 255, 0.674);
    font-weight: 70px;
    height: 25px;
}