.registration_form {
    background-color: transparent;
    box-shadow: 0 2px 4px rgb(0 0 0 / 10%), 0 8px 16px rgb(0 0 0 / 10%);
    border-radius: 7px;
}

#sign_up {
    color: #1c1e21;
    font-family: SFProDisplay-Bold, Helvetica, Arial, sans-serif;
    font-size: 33px;
    font-weight: bolder;
}

.sign_up_form_header {
    border-bottom: 1px solid rgba(0, 0, 0, 0.811);
    padding: 10px 0px 0px 10px;
}

.gray_text_color {
    color: rgb(77, 70, 70);
    font-size: 11px;
    line-height: 1.34;
}

.input_radio {
    border: 1px solid rgba(128, 128, 128, 0.834);
    height: 35px;
    border-radius: 4px;
    width: 110px;
    margin-left: 13px;
}

.sign_up_btn {
    background-color: #00a400;
    border: none;
    border-radius: 6px;
    box-shadow: none;
    color: #fff;
    font-size: 18px;
    font-weight: 600;
    height: 36px;
    padding: 0 52px;
    text-shadow: none;
    margin-top: 5px;
    margin-bottom: 25px;
}

.margin_decrease {
    margin-top: -15px;
    ;
}